<!DOCTYPE html>
<html>
<meta>
    <meta charset="utf-8">
    <title>Example App</title>
    <meta name="description" value="{{ description }}">
    <meta property="og:title"       content="{{ OG_TITLE }}" />
    <meta property="og:description" content="{{ OG_DESCRIPTION }}" />
    <meta property="og:type" content="{{ OG_TYPE }}">
    <meta property="og:url" content="{{ OG_URL }}">
    <meta property="og:image"       content="{{ metaImage }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@SamsungMobile">
    <meta name="twitter:creator" content="@SamsungMobile">
    <meta name="twitter:image" content="{{ metaImage }}">
    <meta name="twitter:title" content="{{ OG_TITLE }}">
    <meta name="twitter:description" content="{{ OG_DESCRIPTION }}">
  <link href="/css/app.css" rel="preload" as="style">
  <link href="/css/app.css" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>