
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" value="{{ description }}">
  <meta property="og:title"       content="{{ OG_TITLE }}" />
  <meta property="og:description" content="{{ OG_DESCRIPTION }}" />
  <meta property="og:type" content="{{ OG_TYPE }}">
  <meta property="og:url" content="{{ OG_URL }}">
  <meta property="og:image"       content="{{ metaImage }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="1200" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@SamsungMobile">
  <meta name="twitter:creator" content="@SamsungMobile">
  <meta name="twitter:image" content="{{ metaImage }}">
  <meta name="twitter:title" content="{{ OG_TITLE }}">
  <meta name="twitter:description" content="{{ OG_DESCRIPTION }}">
  <title>Example App</title>

  <link href="/css/app.css" rel="preload" as="style">
  <link href="/css/app.css" rel="stylesheet">
</head>
<body>
  {{{body}}}
</body>
</html>
